<div class="container">
    <table class="table table-bordered "  >
        <thead class="table-info" >
            <tr  >
                <th>Actifs</th>
                <th>Montant</th>
                <th>Capitaux propres & passifs</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td scope="row"><b>Actifs non courants </b></td>
                
                <td><b>9400</b></td>
                <td> <b>capitaux propres</b></td>
                <td><b>12000</b></td>
            </tr>
            <tr>
                <td scope="row">fonds de commerce</td>
                <td>2000</td>
                <td>capital social</td>
                <td>10000</td>
            </tr>

            <tr>
                <td scope="row">Terrains</td>
                <td>2000</td>
                <td>Reserves</td>
                <td>2000</td>
            </tr>
           
            <tr >
            <td scope="row"> Constructions</td>
             <td> 4000</td>   
            
            <td><b>passifs non courants</b></td>
            <td><b>0</b></td>
            
             </tr>  
             <tr>
                <td scope="row">Materiel de bureaux</td>
                <td>1400</td>
                <td>Emprunts</td>
                <td>0</td>
            </tr>
            <tr>
                <td scope="row">Immobilisations financières</td>
                <td>0</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row"><b>Actifs courants</b></td>
                <td><b>7840</b></td>
                <td><b>passifs courants </b></td>
                <td><b>5240</b></td>
            </tr>                    
            <tr>
                <td scope="row">Stock de marchandises</td>
                <td>6300</td>
                <td>Fournisseures d'exploitation</td>
                <td>640</td>
            </tr>
            <tr>
                <td scope="row">Clients</td>
                <td>1540</td>
                <td>Fournisseures d'immobilisation</td>
                <td>4600</td>
            </tr>    
              
            <tr>
                <td scope="row"> <b>Total des actifs</b></td>
                <td><b>17240</b></td>
                <td><b>Total capitaux propres & passifs</b></td>
                <td><b>17240</b></td>
                
            </tr>   
        </tbody>
    </table>
</div>



