<br>
<div class="container" style="padding:13px auto !important;">
  <div *ngIf="showAddAccountForm">
      <app-add-account></app-add-account>
  </div>
</div>
<hr>
<h2 class="text text-primary">Account List</h2>
<button class="btn btn-primary" (click)="showForm()">Add Account</button>
<hr>
<table class="table">
  <thead class="thead-dark bg-blue">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Code</th>
    <th scope="col">Label</th>
    <th scope="col">Debit</th>
    <th scope="col">Credit</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accountList;let i=index">
    <th scope="row">{{ account.id}}</th>
    <td>{{account.code}}</td>
    <td>{{account.label}}</td>
    <td>{{account.total_debit}}</td>
    <td>{{account.total_credit}}</td>
    <td> <button class="btn btn-primary" (click)="editAccount($event)">Edit</button> </td>
    <td><button class="btn btn-danger" (click)="deleteAccount($event)">Delete</button> </td>
  </tr>
  </tbody>
</table>
