
<h4 class="text text-primary">Add New Account</h4>
<form [formGroup]="account">
  <div class="form-group">
    <label for="code">Code</label>
    <input type="text" class="form-control" id="code"  formControlName="code" placeholder="Code Compte" required>
  </div>
  <div class="form-group">
    <label for="label">Label</label>
    <input type="text" class="form-control" id="label" formControlName="label" placeholder="Account Label" required>
  </div>
</form>
<button class="btn btn-primary" (click)="submitAccount()">Save</button>
